* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body,
#root,
.home {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: calc(100% - 50px);
}

footer {
  width: 100%;
  height: 50px;
}
